.homepage {
    position: relative; /* 为伪元素定位提供上下文 */
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../picture/backgroundphoto.jpg"); /* 指定背景图片 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px; /* 保持背景容器高度不变 */

}

.homepage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 创建一个半透明的黑色覆盖层 */
    z-index: 1;
}

.homepage > * {
    position: relative;
    z-index: 2; /* 确保内容在覆盖层之上 */
}
.container {
    padding: 0;
    margin: 0;
}
